.App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  margin: 5px;
  width: 110px;
  background: #9F7D58;
  border: 2px solid #C9BDAD;
  padding: 6px 12px;
  border-radius: 5px;
  color: #F3F2EC;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #C9BDAD;
}
.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.popupBody {
  background-color: #9F7D58;
  font-size: small;
  padding: 15px;
}
.banner {
  width: 100%;
  padding: 0;
  margin: 0;
}
.footer {
  background-color: #9F7D58;
}